<div class="final-top-wrapper">

  <!-- TÍTULO -->
  <h2 class="final-top-title">Tu TOP 18</h2>

  <section class="top3-layout">

    <!-- TOP 2 -->
    <div class="top-slot top2" cdkDropList [id]="'slot-1'" [cdkDropListConnectedTo]="connectedDropLists"
      (cdkDropListDropped)="onDropToSlot($event, 1)">
      <div class="top-number">2</div>

      @if (top18[1]) {
      <div class="top-card silver" cdkDrag [cdkDragData]="top18[1]">
        <img class="top-img" [src]="top18[1].image" [alt]="top18[1].name" />
        <h3>{{ top18[1].name }}</h3>
        <p>{{ top18[1].song }}</p>
      </div>
      } @else {
      <div class="top-placeholder"></div>
      }
    </div>

    <!-- TOP 1 -->
    <div class="top-slot top1" cdkDropList [id]="'slot-0'" [cdkDropListConnectedTo]="connectedDropLists"
      (cdkDropListDropped)="onDropToSlot($event, 0)">
      <div class="top-number">1</div>
      <div class="crown">👑</div>

      @if (top18[0]) {
      <div class="top-card gold" cdkDrag [cdkDragData]="top18[0]">
        <img class="top-img" [src]="top18[0].image" [alt]="top18[0].name" />
        <h2>{{ top18[0].name }}</h2>
        <p>{{ top18[0].song }}</p>

      </div>
      } @else {
      <div class="top-placeholder"></div>
      }
    </div>

    <!-- TOP 3 -->
    <div class="top-slot top3" cdkDropList [id]="'slot-2'" [cdkDropListConnectedTo]="connectedDropLists"
      (cdkDropListDropped)="onDropToSlot($event, 2)">
      <div class="top-number">3</div>

      @if (top18[2]) {
      <div class="top-card bronze" cdkDrag [cdkDragData]="top18[2]">
        <img class="top-img" [src]="top18[2].image" [alt]="top18[2].name" />
        <h3>{{ top18[2].name }}</h3>
        <p>{{ top18[2].song }}</p>
      </div>
      } @else {
      <div class="top-placeholder"></div>
      }
    </div>

  </section>



  <section class="rest-grid-blocks">

    <!-- Columna 1 -->
    <div class="rest-column">
      @for (i of [3, 4, 5, 6, 7]; track i) {
      <div class="rest-card" cdkDropList [id]="'slot-' + i" [cdkDropListConnectedTo]="connectedDropLists"
        (cdkDropListDropped)="onDropToSlot($event, i)">

        <!-- Número grande -->
        <div class="rest-left">{{ i + 1 }}</div>

        <!-- Contenido -->
        @if (top18[i]) {
        <div class="rest-center" cdkDrag [cdkDragData]="top18[i]">

          <img class="rest-img" [src]="top18[i].image" [alt]="top18[i].name" />

          <div class="rest-text">
            <h4>{{ top18[i].name }}</h4>
            <p>{{ top18[i].song }}</p>
          </div>


        </div>
        } @else {
        <div class="rest-center">
          <span class="rest-empty"></span>
        </div>
        }

      </div>
      }
    </div>

    <!-- Columna 2 -->
    <div class="rest-column">
      @for (i of [8, 9, 10, 11, 12]; track i) {
      <div class="rest-card" cdkDropList [id]="'slot-' + i" [cdkDropListConnectedTo]="connectedDropLists"
        (cdkDropListDropped)="onDropToSlot($event, i)">

        <div class="rest-left">{{ i + 1 }}</div>

        @if (top18[i]) {
        <div class="rest-center" cdkDrag [cdkDragData]="top18[i]">

          <img class="rest-img" [src]="top18[i].image" [alt]="top18[i].name" />

          <div class="rest-text">
            <h4>{{ top18[i].name }}</h4>
            <p>{{ top18[i].song }}</p>
          </div>

        </div>
        } @else {
        <div class="rest-center">
          <span class="rest-empty"></span>
        </div>
        }

      </div>
      }
    </div>

    <!-- Columna 3 -->
    <div class="rest-column">
      @for (i of [13, 14, 15, 16, 17]; track i) {
      <div class="rest-card" cdkDropList [id]="'slot-' + i" [cdkDropListConnectedTo]="connectedDropLists"
        (cdkDropListDropped)="onDropToSlot($event, i)">

        <div class="rest-left">{{ i + 1 }}</div>

        @if (top18[i]) {
        <div class="rest-center" cdkDrag [cdkDragData]="top18[i]">

          <img class="rest-img" [src]="top18[i].image" [alt]="top18[i].name" />

          <div class="rest-text">
            <h4>{{ top18[i].name }}</h4>
            <p>{{ top18[i].song }}</p>
          </div>

        </div>
        } @else {
        <div class="rest-center">
          <span class="rest-empty"></span>
        </div>
        }

      </div>
      }
    </div>

  </section>


  <h3 class="available-title">Artistas disponibles</h3>

  <section class="participant-pool" cdkDropList id="participants" [cdkDropListConnectedTo]="connectedDropLists"
    (cdkDropListDropped)="onDropToParticipant($event)">

    @for (participant of participants; track participant.id) {
    <div class="participant-card" cdkDrag [cdkDragData]="participant">
      <img class="participant-img" [src]="participant.image" [alt]="participant.name" />
      <div class="participant-info">
        <h4>{{ participant.name }}</h4>
        <p>{{ participant.song }}</p>
      </div>
    </div>
    }

  </section>